# Capstone: Kpop Group Lifespan Analysis

In [2]:
# Imports:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Overall Contents:
- Background
- Data Cleaning
- Exploratory Data Analysis
- Modeling
- [Evaluation](#5.-Evaluation) **(In this notebook)**
- [Conclusion and Recommendation](#6.-Conclusion-and-Recommendation) **(In this notebook)**

## 5. Evaluation

**Summary Table: Model Evaluation**

| Model|Train Score (Accuracy)       |   Val Score (Accuracy)   | Train RMSE |  Val RMSE |
|:-------------------:|:-------------------:|:-------:|:----------:|:-----------------:|
| OLS |  0.792 |    0.348  |     1.168    |      2.046     |
|Lasso regression| 0.736 |  0.703  | 1.314 |   1.380  |
|Ridge regression| 0.726 |  0.702  | 1.342 |   1.385  |
|Enet regression(best)| 0.727 |  0.701  | 1.338 |   1.385  |

**Analysis: Lasso performed the best amoung the 3 with the highest r sqaured score using the validation set from the train test split and the lowest RMSE score as well. However in terms of scale the improvement is not very significant. Collecting more data/features would help in impoving the model**

In [6]:
pred_df = pd.read_csv("../data/pred.csv")
musicgroup_df = pd.read_csv("../data/combinedpred.csv")

In [10]:
musicgroup_df.lifespan = musicgroup_df.lifespan.astype(int)
musicgroup_df.disband_year = musicgroup_df.disband_year.astype(int)

In [15]:
pred_df[['group_name','company','debut_year','disband_year','lifespan']].sort_values('lifespan', axis = 0, ascending= False).head(10)

,group_name,company,debut_year,disband_year,lifespan
303,TVXQ!,sm_entertainment,2003,2022.0,19.792361
53,Gavy NJ,good_fellas_entertainment,2005,2022.0,17.929408
284,SUPER JUNIOR,sm_entertainment,2005,2020.0,15.865277
278,SHINHWA,sm_entertainment,1998,2013.0,15.634963
252,NELL,space_bohemian,2001,2015.0,15.481491
149,4men,major9,1998,2012.0,15.321407
305,U-KISS,nh_media,2008,2022.0,14.966312
57,Girls' Generation,sm_entertainment,2007,2020.0,13.803270
208,FTISLAND,fnc_entertainment,2007,2020.0,13.770035
145,015b,the015b,2006,2018.0,13.457528

In [16]:
pred_df[['group_name','company','debut_year','disband_year','lifespan']].sort_values('disband_year', axis = 0, ascending= False).head(10)

     group_name                 company  debut_year  disband_year   lifespan
131       TWICE       jyp_entertainment        2015        2026.0  11.841408
242    MONSTA X  starship_entertainment        2015        2024.0  10.297438
304         TXT            bighit_music        2019        2024.0   5.670203
267    PENTAGON      cube_entertainment        2016        2024.0   9.136587
212        GOT7       jyp_entertainment        2014        2024.0  10.635437
282  Stray Kids       jyp_entertainment        2018        2024.0   7.069113
191        DAY6                  colabs        2015        2024.0   9.625902
89      MAMAMOO                     rbw        2014        2024.0  11.147397
176         BTS            bighit_music        2013        2024.0  11.973411
0      (G)I-DLE      cube_entertainment        2018        2023.0   6.280251

**Analysis: Using the lasso model, we put the features of the still active groups and try to predict what their lifespans are. Clearly they are able to identify some of the more popular bands and is able to assign them with a longer lifepsan as compare to others.**

**An interesting point to point out is that when sorted by the longest lifespan, the top few groups are from the earlier generations of music groups which helpped kicked off the first kpop wave internationally**

**And when sorted by the latest disband year, the top few groups are from the current generation which is raving in the current popularity charts.**

## 6. Conclusion and Recommendation

**We have shown that we are able to predict the lifespan of a music group to an extend. However the RMSE is considered high still. More data collection will be required to lower the score.**

**We also highlighted that show that active music groups are starting to plateau. Thus it might be an indicator that its not a good time to introduce more group to the industry.**

**We have also identified the features that helps extend the lifespan of music groups.**